body {
    font-family: "Poppins", sans-serif;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    width: 100%;
  }
  .main {
    flex: 1;
    display: inline-block;  
  }
  
  h1 {
    font-size: 5rem;
  }

  a{
    color: darkblue;
  }


  .pai{
    display: inline-block;    
  }

    .tile-image{   
    height: 120px;
    width: 200px;
    padding: 20px;
    float: left;
    
  }

  .card-text{
    clear: both;
  }
  
  .card{
    display: inline-block;
    width: 40%;
    clear: both;
  }

  /* .right>.tile-image{
    height: 120px;
    width: 200px;
    padding: 20px;
    position: relative;
    left: 630px;
  } */

  /* .left, .right{

  } */

  

  footer {
    text-align: right;
    color: midnightblue;
  }
  