body {
    font-family: "Poppins", sans-serif;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    width: 100%;
  }
  .main {
    flex: 1;
    display: inline-block;  
  }
  
  h1 {
    font-size: 5rem;
  }

  a{
    color: darkblue;
  }


  .row{
    display: inline-block;
    float: inline-start;
  }

  .col-6{
    clear: both;
  }

  .tile-image{   
    height: 120px;
    width: 200px;
    padding: 20px;
    float: left;
    
  }

  .card-text{
    clear: both;
  }
  
  .card{
    display: inline-block;
    width: 40%;
    clear: both;
  }
  
  footer {
    text-align: right;
    color: midnightblue;
  }
  